{% extends 'base.html' %}
{% load static %}


{% block nav-index %}
    <a class="nav-link active" href="{% url 'chess_viewer:index' %}">Lista partii </a>
{% endblock %}

{% block content %}
    <h1>Lista partii</h1>
    <div class="list-group">
        {% for game in object_list %}
            <div class="list-group-item list-group-item-action single-game clickable" single-game-id="{{ game.id }}">
                <div class="row col">
                    <div class="col-12 col-md-8">
                        <div class="">
                            <b><span class="badge badge-secondary">{% if game.result == 0 %}0:1
                                {% elif game.result == 0.5 %}&frac12;:&frac12;{% else %}1:0{% endif %}</span>
                                {{ game.white_player.first_name }} {{ game.white_player.last_name }}
                                - {{ game.black_player.first_name }} {{ game.black_player.last_name }} </b>
                        </div>

                        <div class=""> {{ game.preview }}</div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class=""><b>{{ game.tournament.name }}</b></div>
                        <div class=""><b>{{ game.tournament.date }} {% if game.tournament.city != None %}-
                            {{ game.tournament.city }}{% endif %}</b></div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <div id="output_div">
        {# TODO: create template here #}
    </div>
    {% include "pagination.html" %}

{% endblock %}

{% block extrascripts %}
    <script src="{% static 'js/dynamicPageCommon.js' %}"></script>
    <script defer>
        setTimeout(() => {
            setHooks('.single-game', success_handler, error_handler)
        }, 100);

        function success_handler(data){
            const black_player = data['black_player']
            const white_player = data['white_player']
            const tournament = data['tournament']
            const game = {'id': data['id'], 'preview': data['preview'], 'result': data['result']}
            console.log(black_player)
            console.log(white_player)
            console.log(tournament)
            console.log(game)

            // TODO: instead of this, fill prepared template with data
            let output_div = document.querySelector('#output_div');
            let p = document.createElement('pre')
            p.textContent = JSON.stringify(data, null, 4);
            output_div.appendChild(p)
        }

        function error_handler(error) {
            console.error(error)
            // TODO: error handling here, maybe bootsrap error bar or sth like this
            // https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=elegant-error-modal
        }

    </script>
{% endblock %}