{% extends 'base.html' %}


{% block nav-index %}
    <a class="nav-link active" href="{% url 'chess_viewer:index' %}">Lista partii </a>
{% endblock %}

{% block content %}
    <h1>Lista partii</h1>
    <div class="list-group">
        {% for game in object_list %}
            <div class="list-group-item list-group-item-action single-game clickable" single-game-id="{{ game.id }}">
                <div class="row col">
                    <div class="col-12 col-md-8">
                        <div class="">
                            <b><span class="badge badge-secondary">{% if game.result == 0 %}0:1
                                {% elif game.result == 0.5 %}&frac12;:&frac12;{% else %}1:0{% endif %}</span>
                                {{ game.white_player.first_name }} {{ game.white_player.last_name }}
                                - {{ game.black_player.first_name }} {{ game.black_player.last_name }} </b>
                        </div>

                        <div class=""> {{ game.preview }}</div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class=""><b>{{ game.tournament.name }}</b></div>
                        <div class=""><b>{{ game.tournament.date }} {% if game.tournament.city != None %}-
                            {{ game.tournament.city }}{% endif %}</b></div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    {% include "pagination.html" %}

{% endblock %}

{% block extrascripts %}
    <script defer>
        document.querySelectorAll('.single-game').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                event.stopPropagation();
                loadGameDetails(event)
            })
        })

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length,c.length);
                }
            }
            return "";
        }

        function loadGameDetails(event) {
            let target = event.target || event.srcElement || event;
            let game_id = target.getAttribute("single-game-id");
            if(game_id == null){
                // TODO: error handling here, maybe bootsrap error bar or sth like this
                return;
            }
            const options = {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'include',
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                }
            }
            fetch("/game_details/" + game_id, options).then(data => {
                return data.json()
            }).then(data => {
                console.log(data)
                //fill template here
            }).catch(err => {
                console.log(err)
            })
        }
    </script>
{% endblock %}