{% load url_replace %}
{% load page_range %}
{% if is_paginated %}
    <ul class="pagination justify-content-center mt-3">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
        {% else %}
            {#        <li class="disabled page-item"><a class="page-link">&laquo;</a></li>#}
        {% endif %}
        {% page_range page_obj.number page_obj.paginator.num_pages as trimmed_pages %}
        {% for i in trimmed_pages %}
            {% if page_obj.number == i %}
                <li class="active page-item">
                    <a style="background-color: #17a2b8" class="page-link">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a>
            </li>
        {% else %}
            {#        <li class="disabled page-item"><a class="page-link">&raquo;</a></li>#}
        {% endif %}
    </ul>
{% endif %}