<div class="card my-3 w-100">
  <div class="card-header">

<b><div style="text-align: center;">
    {% if not similar_random %} Inne partie z tego turnieju:
    {% else %} Zobacz inne partie: {% endif %}</div></b>
  </div>
    <div class="list-group overflow-auto " style="max-height:600px">
        {% for game in similar_games %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center
{% if game.id == current_game_id %} list-group-item-secondary {% endif %}"
               href="{% url 'chess_viewer:game' game.id %}">

                <span class="">

                <span class="badge badge-info">
                    {% if game.round  %}Runda: {{ game.round }}
                    {% elif game.tournament is not None and game.tournament.date %} {{ game.tournament.date }}
                    {% else %} Turniej nieokreślony
                    {% endif %}
                </span>
                    <b>
                        {{ game.white_player.first_name }} {{ game.white_player.last_name }}
                        - {{ game.black_player.first_name }} {{ game.black_player.last_name }} </b>
                </span>

                <span>
                {% if game.result is not None %}
                <span class="badge badge-secondary">{% if game.result == 0 %}0:1
                        {% elif game.result == 0.5 %}&frac12;:&frac12;{% elif game.result == 1 %}1:0{% endif %}</span>
                </span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</div>