<div class="card my-3">
  <div class="card-header">

<b><div style="text-align: center;">
    {% if type == 'tournament' %} Zobacz również inne partie z tego turnieju:
    {% else %} Zobacz inne partie: {% endif %}</div></b>
  </div>
    <div class="list-group">
        {% for game in similar_games %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center
{% if game.id == current_game_id %} list-group-item-secondary {% endif %}"
               href="{% url 'chess_viewer:game' game.id %}">

                <span class="">

                <span class="badge badge-info">
                    {% if type == 'tournament' %}Runda: {{ game.round }}
                    {% elif game.tournament is not null %} {{ game.tournament.date }}
                    {% else %} Turniej nieokreślony
                    {% endif %}
                </span>
                    <b>
                        {{ game.white_player.first_name }} {{ game.white_player.last_name }}
                        - {{ game.black_player.first_name }} {{ game.black_player.last_name }} </b>
                </span>

                <span>
                <span class="badge badge-secondary">{% if game.result == 0 %}0:1
                        {% elif game.result == 0.5 %}&frac12;:&frac12;{% else %}1:0{% endif %}</span>
                </span>
            </a>
        {% endfor %}
    </div>
</div>