{%  extends 'base.html' %}

{% block title %}{{ object.white_player.first_name }} {{ object.white_player.last_name }} -
             {{ object.black_player.first_name }} {{ object.black_player.last_name }}
{% endblock title %}

{% block content %}
<div class="row">
<div class="col-12 col-xl-7">
<div class="card my-3">
    <div class="card-header text-center d-inline-flex justify-content-center">
        <div class="text-right"><strong><div>{{ object.white_player.first_name }} {{ object.white_player.last_name }}</div></strong>
            <div class="small">{% if object.white_player.club %} {{ object.white_player.club }} {% endif %}</div>
        </div>
        <div class="mx-2"><b>-</b></div>
        <div class="text-left"><strong><div>{{ object.black_player.first_name }} {{ object.black_player.last_name }}</div></strong>
            <div class="small">{% if object.white_player.club %} {{ object.white_player.club }} {% endif %}</div>
        </div>
    </div>

    {%  if object.tournament %}
  <ul class="list-group list-group-flush"><strong>
     <li class="list-group-item d-flex justify-content-between align-items-center">
         <span>{{ object.tournament.name }}</span><span>{{ object.tournament.date }}</span>
     </li></strong>
  </ul>
    {% endif %}
<div class="d-flex align-items-center"><iframe class="mx-auto mt-3" height='600' width='{% if not request.user_agent.is_mobile %}600 {% else %}330{%  endif %}' frameborder='0' scrolling='yes' marginheight='0' marginwidth='0' src='http://pgn4web-board.casaschi.net/?delay=1000&amp;
pieceFont=uscf&amp;
{% if not request.user_agent.is_mobile %}
pieceSize=40&amp;&amp;
squareSize=50&amp;
{% endif %}
lightColorHex=FFCC99&amp;
darkColorHex=CC9966&amp;
highlightMode=border&amp;
highlightColorHex=705438&amp;
highlightMoveColorHex=FFCC99&amp;
headerDisplay=centered&amp;
movesDisplay=figurine&amp;
fontHeaderSize=80pct&amp;
fontMovesSize=80pct&amp;
fontCommentsSize=80pct&amp;
autoplayMode=game&amp;
delay=3000&amp;
frameHeight=600&amp;
frameWidth={% if not request.user_agent.is_mobile %}550 {% else %}330{%  endif %}&amp;
pgnText={{ game.pgn.pgn }}'
        >

        your web browser and/or your host do not support iframes as required to display the chessboard

        </iframe>
</div>
</div>

  </div>
<div class="col-12 col-xl-5">
{% include "partial/similar.html" %}
</div>
</div>

    {%  if object.tournament %}
    <div class="text-center">
        <a class="btn btn-info m-3" href="{% url 'chess_viewer:tournament' object.tournament.id %}">Powrót do turnieju</a>
    </div>
    {% else %}
    <div class="text-center">
        <a class="btn btn-info m-3" href="{{  request.META.HTTP_REFERER }}">Powrót</a>
    </div>
    {% endif %}

{% endblock %}