{%  extends 'base.html' %}
{% load static %}
{% block content %}

    <span class="text-center">
    <h2 class="m-3">Import partii </h2>

    </span>
<div class="row d-flex justify-content-center">
	<div class="col-12 col-md-11">

			<form class="form-group" action="" method="POST">
				{% csrf_token %}
				{{ formset.management_form }}
				{% for field in formset %}
                    <div class="card mb-3">
                        <div class="card-header"><strong>Partia nr {{ forloop.counter }}</strong></div>
                        <div class="card-body d-flex flex-column">
                                    {{field}}   {# TODO somehow change styling, or e.g. add parsed names to card title? #}
                            <div class="text-center"><a class="btn btn-danger text-light mt-3" type="submit" name="Delete">Usuń grę</a></div> {#TODO add possibility do delete game#}
                        </div>
                    </div>
				{% endfor %}

				<div class="text-center"><input class="btn btn-info my-3" type="submit" name="Submit"></div> {# TODO cahnge button text to "Zapisz partie w bazie" #}
			</form>

		</div>
</div>


{% endblock %}