{% extends 'base.html' %}

{% block nav-tournaments %}
    <a class="nav-link active" href="{% url 'chess_viewer:tournaments' %}">Turnieje</a>
{% endblock nav-tournaments %}

{% block content %}
    <h1>Lista turniejów</h1>
    {% for tournament in object_list %}
        <a class="list-group-item list-group-item-action " href="{%  url 'chess_viewer:tournament' tournament.id %}">
        <div class="row col">
            <div class="col-12 col-md-8">
                <div class="">
                    <b>{{ tournament.name }}</b>
                </div>
            </div>
                <div class=""><b></b> </div>
            <div class="col-12 col-md-2">
                <div class=""><b>{% if tournament.city != None %} {{ tournament.city }}{% endif %}</b> </div>
            </div>
            <div class="col-12 col-md-2">
                <div class=""><b>{{ tournament.date }}</b> </div>
            </div>

        </div>
        </a>
    {%  endfor %}

{% include "pagination.html" %}

{% endblock %}
